DirectoryIndex index.html
ErrorDocument 404 /404.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^impressum\.html$ /impressum/ [R=301,L]
RewriteRule ^datenschutz\.html$ /datenschutz/ [R=301,L]
</IfModule>
